<div id="Dashboard">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button
      id="myButtonAlert"
      type="button"
      class="close"
      data-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    Hoje é ${ DayName[dateNow.getDay()] } dia ${dateNow.getDate()} de ${
    MonName[dateNow.getMonth()] } de ${dateNow.getFullYear()}
  </div>
  <nav class="navbar navbar-expand-lg nav nav-pills dashboard--header">
    <div class="d-flex p-2 w-100 justify-content-around">
      <a class="navbar-brand p-2 d-none d-sm-block" href="#"
        ><img src="assets/logo.svg" alt="Logo"
      /></a>

      <div class="flex-row navbar-nav align-items-end">
        <a class="nav-link p-2 active" aria-current="page" href="#">Extrato</a>
        <a class="nav-link p-2"> ${ModalCredit} </a>
        <a class="nav-link p-2">${ModalDebit}</a>
      </div>
    </div>

    <div class="dashboard--preferences">
      <a
        id="destroy_session"
        class="navbar-brand p-2"
        data-bs-placement="bottom"
        title="Sair do Sistema"
        ><i class="bi bi-power"></i
      ></a>
      <a
        id="refresh"
        class="navbar-brand p-2"
        data-bs-placement="bottom"
        title="Recarregar página"
        ><i class="bi bi-power"></i
      ></a>
    </div>
  </nav>

  <section class="d-flex justify-content-around dashboard--primary-cards">
    <div class="card w-25">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <p class="align-self-center m-0 fs-6 m-2">Entradas</p>
          <i class="bi bi-arrow-up-circle"></i>
        </div>

        <div>
          <p class="fs-4 m-0 p-0">R$ 7.853,25</p>
        </div>
      </div>
    </div>

    <div class="card w-25">
      <div class="card-body">
        <div class="d-flex flex-row justify-content-between">
          <p class="align-self-center m-0 fs-6 m-2">Saídas</p>
          <i class="bi bi-arrow-down-circle"></i>
        </div>

        <div>
          <p class="fs-4 m-0 p-0">R$ 5.273,25</p>
        </div>
      </div>
    </div>

    <div class="card bg-success w-25">
      <div class="card-body bg-success">
        <div class="d-flex flex-row justify-content-between">
          <p class="align-self-center m-0 fs-6 m-2">Total</p>
        </div>
        <div>
          <p class="fs-4 m-0 p-0">
            Saldo: ${Intl.NumberFormat("pt-br", { style: "currency", currency:
            "BRL", }).format(contaBanco.saldo)}
          </p>
        </div>
      </div>
    </div>
  </section>

  <div class="p-4 mt-4">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="c-base">Descrição</th>
          <th scope="col" class="c-base">Valor</th>
          <th scope="col" class="c-base">Categoria</th>
          <th scope="col" class="c-base">Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="c-primary">Compra de Mercadoria</th>
          <td>R$ 2.500,00</td>
          <td class="ml-4"><i class="bi bi-arrow-down-circle"></i></td>
          <td>22/01/2021</td>
        </tr>
        <tr>
          <th scope="row" class="c-primary">Venda de Produtos</th>
          <td>R$ 10.850</td>
          <td class="ml-4"><i class="bi bi-arrow-up-circle"></i></td>
          <td>25/01/2021</td>
        </tr>

        <tr>
          <th scope="row" class="c-primary">Pagamento de aluguel</th>
          <td>R$ 3.500,00</td>
          <td><i class="bi bi-arrow-down-circle"></i></td>
          <td>26/01/2021</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
